@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<div class="main-container">
			@Body
		</div>
	</main>
</div>
<style>
	.main-container {
		height: 90vh
    }
</style>