@using Common.Models

<div class="container">
    <div class="row message-container">
        <div class="col-4">
            <div class="col">@Message.UserName</div>
            <div class="col">@Message.DateTimeMessage</div>
        </div>
        <div class="col-8 position-relative">
            <div class="position-absolute @((IsSender ? "end-10" : "start-0"))">
                @Message.MessageText
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MessageDto Message { get; set; }
    [Parameter]
    public bool IsSender { get; set; }
}
<style>
    .message-container {
        border: 1px solid red; 
    }
</style>